<footer class="footer footer-default">
    <div class="container">
        <nav class="float-right">
            <ul>
                <li><a href="https://www.flatlanders-store.com/">
                        Inicio
                    </a></li>
                <li><a href="https://www.flatlanders-store.com/presentation">
                        Acerca de nosotros
                    </a></li>
                <li><a href="https://www.flatlanders-store.com/blog">
                        Blog
                    </a></li>
                <li><a href="https://www.flatlanders-store.com/licens">
                        Licencias
                    </a></li>
            </ul>
        </nav>
    </div>
</footer>