<section class="mb-5" ng-controller="Product as prod">
    <div class="row">
        <div class="col-md-6 mb-4 md-md-0">
            <product-gallery></product-gallery>
        </div>
        <div class="col-md-6">
            <h3>{{prod.detail.name}}</h3>
            <p class="mb-2 text-muted text-uppercase small">
                Gems
            </p>
            <ul class="list-inline small">
                <li class="list-inline-item m-0" ng-repeat="n in [] | range: prod.avgStars"><i
                        class="fa fa-star text-info"></i></li>
            </ul>
            <p>
                <spam class="mr-1"><strong>{{prod.detail.price | currency}}</strong></spam>
            </p>
            <div class="table-responsive">
                <table class="table table-sm table-borderless mb-0">
                    <tbody>
                        <tr>
                            <th class="pl-0 w25"><strong>Brand</strong></th>
                            <td>{{prod.detail.specs.brand}}</td>
                        </tr>
                        <tr>
                            <th class="pl-0 w25"><strong>Band Material</strong></th>
                            <td>{{prod.detail.specs.band_material}}</td>
                        </tr>
                        <tr>
                            <th class="pl-0 w25"><strong>Clock Movement</strong></th>
                            <td>{{prod.detail.specs.clock_movement}}</td>
                        </tr>
                        <tr>
                            <th class="pl-0 w25"><strong>Band Color</strong></th>
                            <td>{{prod.detail.specs.band_color}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr>
            <div class="table-responsive mb-2">
                <table class="table table-sm table-borderless">
                    <tbody>
                        <tr>
                            <td class="pl-0 pb-0 w-25">Quantity</td>
                            <td class="pb-0">SelectSize</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="def-number-input number-input mb-0">
                                    <button class="btn btn-info btn-fab btn-round">
                                        <i class="material-icons">add</i>
                                    </button>
                                    <input type="number" value="1" min="1" name="quantity" class="quantity">
                                    <button class="btn btn-info btn-fab btn-round">
                                        <i class="material-icons">remove</i>
                                    </button>
                                </div>
                            </td>
                            <td>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="exampleRadios1"
                                            value="option1">
                                        Small
                                        <span class="circle">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="exampleRadios1"
                                            value="option1">
                                        Medium
                                        <span class="circle">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="exampleRadios1"
                                            value="option1">
                                        Large
                                        <span class="circle">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-info btn-md mr-1 mb-2">Buy now</button>
                <button class="btn btn-light btn-md mr-1 mb-2">
                    <i class="material-icons">add_shopping_cart</i>
                    Add to cart
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <product-panels></product-panels>
                <specs-tab></specs-tab>
                <reviews-tab></reviews-tab>
                <description-tab></description-tab>
            </div>
        </div>

</section>